@import "tailwindcss";

.fira-code-Fira {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --space-color: #040c24;
  --off-color: #f9f1f1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

body {
  color: var(--off-color);
  background-color: var(--space-color);
}
